#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* layout */
*{
  box-sizing: border-box;
}
#gallery { 
  display: flex;
  flex-wrap: wrap;
}
/* tags */
body{
  background-image: url('/images/2.png');
  color: aliceblue;
}


/* swiper */
.swiper{
  width: 600px;
  margin-top: 50px;
  transform-style: preserve-3d;
  -webkit-box-reflect: below 20px linear-gradient(transparent,  rgba(0, 0, 0, 0.4));
  
}
.swiper-slide{
    border-radius: 10px;
    background-position: center;
  }
  #slide-one {
    background-color: rgba(236, 233, 53, 0.884);
    
}
#slide-two {
  background-color: rgba(87, 9, 243, 0.863);
}
#slide-three {
  background-color: rgba(125, 214, 111, 0.952);
  background-size: cover;
}
#slide-four {
  background-color: rgba(172, 32, 22, 0.918) ;
}
/* Searchbar */
button, input {
  font: 1em Hind, sans-serif;
  line-height: 1.0em;
}
button {
  background-color: rgba(172, 32, 22, 0.747);
}
.search-bar {
  display: flex;
}

.search-bar input:focus,
.search-bar input:valid {
  background: transparent;
  color:aliceblue;
  border-radius: 0.375em 0 0 0.375em;
  box-shadow: 0 0 0 0.1em #080404 inset;
  transform: scale(1);
}

/* end of search-bar */