#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* layout */
*{
  box-sizing: border-box;
}
#gallery { 
  display: flex;
  padding-top: 2%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

/* tags */

body{
  background-image: url('/images/2.png');
  color: aliceblue;
}

li{
  list-style: none;
  text-align: left;
  padding-left: 2%;
}

h3{
  padding: 2% 0% 0% 2%;
  text-align: left;
}

/* Searchbar */
button, input {
  font: 1em Hind, sans-serif;
  line-height: 1.0em;
}
button {
  background-color: rgba(172, 32, 22, 0.747);
}
.search-bar {
  display: flex;
}
.form {
  width: 250px;
  height: 35px;
}
.search-bar input:focus,
.search-bar input:valid {
  background: transparent;
  color:aliceblue;
  border-radius: 0.375em 0 0 0.375em;
  box-shadow: 0 0 0 0.1em #080404 inset;
  transform: scale(1);
}

/* end of search-bar */

/* featureBackground */

.item:nth-child(1){
  background: 
  radial-gradient(circle at 0% 0%, #b150ac 0 20vmin, #fff0 90vmin 100%), 
  radial-gradient(circle at 100% 100%, #dd65d8 0 10vmin, #fff0 50vmin 100%), 
  repeating-conic-gradient(from 0deg at 100% 100%, #dd65d8 0 1deg, #b150ac80 1.1deg 1.9deg, #dd65d8 2deg),
  repeating-conic-gradient(from 0deg at 100% 100%, #dd65d8 0 6deg, #b150ac 0 12deg);
  border-radius: 5%;
}

.item2:nth-child(1){
  background: 
    radial-gradient(circle at 60% 50%, #ff4a4a  4vmin, #fff0 50vmin 100%), 
    repeating-conic-gradient(from 0deg at 60% 50%, #ff4a4a 0 6deg, #e6282a 0 12deg);
    border-radius: 5%;
}
.item3:nth-child(1){
  background: 
  linear-gradient(180deg, rgba(87, 9, 243) 0 10%, #fff0 90% 100%),
  repeating-linear-gradient(80deg, rgba(87, 9, 243) 0 2px, rgb(128, 67, 250) 3px 4px, rgba(87, 9, 243) 5px);
  border-radius: 5%;
}
.itemSearched:nth-child(1){
  background: 
  radial-gradient(circle at 60% 50%, rgb(150, 221, 140)  4vmin, #fff0 50vmin 100%), 
  repeating-conic-gradient(from 0deg at 60% 50%, rgb(150, 221, 140) 0 6deg, rgba(125, 214, 111) 0 12deg);
  border-radius: 5%;
}

/* card-flip */
.card-container {
  display: flex;
  padding-top: 2%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  perspective: 20000px;
  /* height: 354px; */
}

.card {
  position: relative;
  transition: 0.8s;
  transform-style: preserve-3d;
  height: 412px; 
  align-content: center;
}
.flipped .card {
  transform: rotateY(180deg);
}

.front_feature_1, .front_feature_2, .front_feature_3, .front_searched_poke {
  /* width: 400px; */
  color:aliceblue;
}

.back_feature_1, .back_feature_2, .back_feature_3, .back_searched_poke {
  background-color: silver;
  color: black;
  justify-content: center;
  /* width: 400px; */
  height: 415px; 
  transform:  rotateY(180deg) translateY(-27rem) translateZ(50px);
  backface-visibility:hidden;
  border-radius: 5%;
}



